.App {
  text-align: center;
  height: 30000px;
}

#container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #03a9f4;
}

.layer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#sol {
  position: absolute;
  left: 0;
  top: 80%;
  width: 8100px;
  height: 90%;
}
.herbe {
  position: absolute;
  width: 100%;
  height: 50px;
  background-image: url('./image/grass.png');
}

.terre {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./image/ground.png');
}

#layer-1 {
  height: 6000px;
}

#layer-2 {
  height: 5000px;
}
